.is-danger{
    color:red !important;
}
body {
    background:url("./img/whitebg.jpg") !important;
    /*color:#164c8a !important;*/
}
a:link{
    text-decoration: none;
}
#mainScreen{
    margin-left: 200px !important;
}
.paginate-style{

    float: right;
    position: relative;
    clear: both;
    top: -40px;
}
.isSelected{
    color:red;
}

.noborder{
    border:none !important;
}
.noborder-top{
    border-top:none !important;
}

.btn-editbg{
    background-color: #158e15;
}
.btn-savebg{
    background-color: #164c8a;
}
.misc-wrapper, .govt-wrapper{
    line-height: 25px;
}
.misc-wrapper ul {
    list-style: none;
}
.misc-wrapper li >  a{
    font-size: 15px;
    font-weight: bold;
}
.govt-wrapper ul {
    list-style: none;
}
.govt-wrapper li >  a{
    font-size: 15px;
    font-weight: bold;
}
.box-1{
    padding: 0px 15px 0px 20px;
}
.style-box2{
    position: relative;
    top: -10px;
}
.button-style-wrapper{
    margin-bottom: 10px;
    clear:both;
    position: relative;
    top: -28px;
    right: 6px;
}
.liststyle02{
    padding-left: 15px;
}

.sidemenu ul {
	padding: 15px 0px 3px 20px;
	list-style: none;
	line-height: 2.7px;
}
.list-inline{
	padding-top: 8px;
}
.list-inline li>a{
	color: white;
}

.dash-content {
	background-color: #ffffff;
    border-radius: 2px;
    width: 100%;
    padding: 8px;
    margin-top: 75px;
    height: 300px;
}
.noti-content{
	background-color: #ffffff;
    border-radius: 2px;
    width: 100%;
    padding: 0px;
    margin-left: 5px;
    position: relative;
    top: 9px;
}

.float-right{
	margin-top: 22px;
    float: right;
    position: relative;
    left: 17px
}
.list-float{
	position: relative;
    top: 16px;
}
.list-item1{
	left: 0px;
    position: relative;
    float: right;
}
.announce-style{
	background-color: #39f423;
    margin-left: 7px;
    margin-right: 7px;
    padding: 5px 0px 3px 0px;
    color: #ffffff;
    position: relative;
    top: -8px;
}
.no-of-emp{
	background-color: #5dfc5a;
    border-radius: 6px;
    text-align: center;
    height: 200px;
    padding: 8px 37px 0px 40px;
}
.not-of-bday{
	background-color: #fbfe30;
    border-radius: 6px;
    text-align: center;
    height: 200px;
    padding: 8px 37px 0px 40px;
}
.prom-of-emp{
	background-color: #0fb5f4;
    border-radius: 6px;
    text-align: center;
    height: 200px;
    padding: 8px 37px 0px 40px;
}
/*CUSTOM NUMBER*/
.style-no1{
	font-size: 24px;
	display: block;
    text-align: center;
}
/*CUSTOM BOX*/
.style-box1{
	background-color: #ffffff;
    border-radius: 8px;
}
/*CUSOTOM FONT */
.font-style1{
	font-size: 8px;
}
.font-style2{
	font-size: 12px;
	height: 30px;
}

/*BORDER STYLE*/
.border-style1{
	padding-left: 0px;
}
.border-style2{
	margin-top: 4px;
	border-radius: 8px;
    padding: 20px 10px 0px 2px;;
    /*border: 1px solid #e9e4e4;*/
}

.border-style02{
    margin-top: 4px;
    border-radius: 8px;
    padding: 20px 10px 0px 2px;;
    /*border: 1px solid #e9e4e4;*/
}
.border-style3{
    padding: 25px 20px 0px 20px;
    height: 185px;
    margin-bottom: 20px;
}
.border-style4{
    padding: 10px 20px 0px 20px;
    margin-bottom: 20px;
}
.borderless td, .borderless th {
    border: none;
}

.table{
	font-size: 12px;
    background: none;
}

.tab-container{
	width: 100%;
}
td{
	border-top:none !important;
}

.topmenu-style{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    transition: all 0.5s ease 0s;
    color:#ffffff;
}
.topmenu-style2{
    width: 20%;
    padding: 10px 0px 10px 0px;
    position: relative;
    right: 4px;
}
.topmenu-style2:hover {
    cursor: pointer;
    background: var(--bgHover1);
    color:white;
}
.margintop-25{
    margin-top: -25px;
}
.relativetop-180{
    clear: both;
    width: 206%;
    position: relative;
    top: -20px;
}

.radiobut-style{
    font-size: 10px;
    line-height: 20px;
    margin-left: 40px;
    color: #000;
}


.sub-panel{
    position: relative;
    top: -35px;
}

.dataTables_filter{
    float: right;
    clear: both;
    position: relative;
    margin-right: 20px;
}
div#salarytable_info.dataTables_info{
    float: right;
}
div#tbl_benefits_info.dataTables_info{
    float: right;
}
div#tbl_adjustments_info.dataTables_info{
    float: right;
}
div#tbl_deductions_info.dataTables_info{
    float: right;
}
div#tbl_loans_info.dataTables_info{
    float: right;
}
div#tbl_responsibilitycenter_info.dataTables_info{
    float: right;
}
div#tbl_banks_info.dataTables_info{
    float: right;
}
div#tbl_bankbranches_info.dataTables_info{
    float: right;
}
div#philpolicy_info.dataTables_info{
    float: right;
}
div#pagibigpolicy_info.dataTables_info{
    float: right;
}
div#tbl_gsis_policies_info.dataTables_info{
    float: right;
}
div#tbl_providentfund_info.dataTables_info{
    float: right;
}
div#taxestable_info.dataTables_info{
    float: right;
}
div#taxpolicy_info.dataTables_info{
    float: right;
}
div#taxannual_info.dataTables_info{
    float: right;
}
div#wagetable_info.dataTables_info{
    float: right;
}
div#tbl_salaryinfo_info.dataTables_info{
    float: right;
}
div#tbl_benefitinfo_info.dataTables_info{
    float: right;
}
div#tbl_loaninfo_info.dataTables_info{
    float: right;
}
div#tbl_deductioninfo_info.dataTables_info{
    float: right;
}
div#tbl_benefitTransact_info.dataTables_info{
    float: right;
}
div#tbl_loanTransact_info.dataTables_info{
    float: right;
}
div#tbl_deductTransact_info.dataTables_info{
    float: right;
}
div#tbl_rata_info.dataTables_info{
    float: right;
}
div#tbl_cashgift_info.dataTables_info{
    float: right;
}
div#tbl_cead_info.dataTables_info{
    float: right;
}
div#tbl_eme_info.dataTables_info{
    float: right;
}
div#tbl_pe_info.dataTables_info{
    float: right;
}
div#tbl_yearendbonus_info.dataTables_info{
    float: right;
}
div#tbl_divisions_info.dataTables_info{
    float: right;
}
div#tbl_offices_info.dataTables_info{
    float: right;
}
div#tbl_employee_status_info.dataTables_info{
    float: right;
}
div#tbl_positions_info.dataTables_info{
    float: right;
}
div#tbl_pei_info.dataTables_info{
    float: right;
}
/*.dataTables_length{
    display: none;
}

.dataTables_paginate{
    float: rightu    position: relative;
    top: -30px;
}*/

.formcontent{
    position: relative;
    top: -25px;
}

.datatable tr:hover{
    background-color: #f3f3f3;
    cursor:pointer;
}
/* 164c8a Custom Blue */
/* 158e15 Custom Green */

table.scroll {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    /*border: 2px solid black;*/
}

.scroll {
  table-layout: fixed;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th {
    height: 30px;
    line-height: 30px;
    /* text-align: left; */
}

table.scroll tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody { border-top: 1px solid #eee; }

tbody td, thead th {
    /* width: 20%; */ /* Optional */
    border-right: 1px solid #eee;
    /* white-space: nowrap; */
}

.scroll td:first-child {
  width: 10%;
}
.scroll td:nth-child(2) {
  width: 90%;
}

.scroll thead th:nth-child(2) {
    width: 100%; /* 140px + 16px scrollbar width */
}

.panel-default>.panel-heading{
    color: #fff !important;
    background-color: #164c8b !important;
}

.line-height30{
    line-height: 30px;
}


.ajax-loader {
  visibility: hidden;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  z-index: +100 !important;
  width: 100%;
  height:100%;
}

.ajax-loader img {
  position: relative;
  top:50%;
  left:50%;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #fff !important;
    cursor: default;
    background-color: #154984 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.header-nav{
    background: #1c1d22;
    color: #fff;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 63px;
}

#div_RSideBar{
    top: 105px; !important;
}

.panel-top{
    padding-left: 5px;
    border-radius: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.web-content{
    background-color: #fff;
    position: relative;
    top: 85px;
}

#mainScreen{
    background-color: #fff;
}

.lineheight{
    line-height: 30px;
}
.padding01{
    padding: 0px 10px 0px 10px;
}

.loan-reports{
    width: 75%;
}
.reports-bot{
    padding-top: 0px;
    position: relative;
    top: -13px;
}

.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #164c8b;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
    background-color: #428bca;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.report-title{
    width: 120px;
    margin: auto;
    padding-top: 5px;
    font-weight: bold;
}
.report-date{
    width: 130px;
    margin: auto;
    padding-top: 5px;
    font-weight: bold;
    position: relative;
    left: -7px;
}
.report-name{
    width: 95%;
    margin: auto;
}

.trstyle span{
    margin-left: 15px;
}
#reports-table td{
    line-height: 5px;
}
#report-name td{
    line-height: 5px;
}
.footer-left-message{
    width: 75%;
    font-size: 10px;
}
.side-menu{
    margin-left: 10px;
}
.tbl_payrollTransfer{
    font: 12px "Open Sans", sans-serif;
    /*border-collapse: collapse;*/


}

.tbl_payrollTransfer>tbody>tr>td, .tbl_payrollTransfer>tbody>tr>th, .tbl_payrollTransfer>tfoot>tr>td, .tbl_payrollTransfer>tfoot>tr>th, .tbl_payrollTransfer>thead>tr>td, .tbl_payrollTransfer>thead>tr>th{
    padding: 0px 12px 0px 12px;

}
.tbl_payrollTransfer>thead>tr>td{
    font-weight: bold;
}

#employeeList>tr>td {
    white-space:nowrap;
    border:1px solid #e2e2e2;
    text-align: left;
}
.border-black{
    border:1px solid #bcb9b9;
}
.border-top-black{
    border-top:1px solid #000000;
    border-bottom: :1px solid #000000;
}

div#tbl_rata_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer{
    width: 807px !important;
 }
/* div#dataTables_scrollHeadInner{
    width:
 }*/
 td.dt-center { text-align: center; }

.tableFixHead{
  overflow-y: auto;
  height: 340px;
  width: 100%;
}

.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixHead th,
.tableFixHead td {
  padding: 8px 16px;
  border: none;
}

.tableFixHead th {
  position: sticky;
  top: 0;
}

.model-size{
    width: 100%;
    height: 100%;
}